In [2]:
import pandas as pd
import numpy as np

pd.options.mode.chained_assignment = None

In [10]:
grp = pd.read_excel("../Data/Experimental GDP Modelling.xlsx", sheet_name="GRP", nrows=16)
grp = grp[['state', 'GCCSA_code', 'GCCSA_name', 'GRP 2015-16 ', 'GRP 2016-17',
       'GRP 2017-18', 'GRP 2018-19', 'GRP 2019-20', 'GRP 2020-21']]

In [11]:
grp = grp.melt(
    id_vars=['state', 'GCCSA_code', 'GCCSA_name'],
    value_vars=['GRP 2015-16 ', 'GRP 2016-17', 'GRP 2017-18', 'GRP 2018-19', 'GRP 2019-20', 'GRP 2020-21'],
    value_name= "GRP",
    var_name="GRP year"
)

grp["year"] = grp["GRP year"].str.split(" ").str[1]

In [12]:
grp

,state,GCCSA_code,GCCSA_name,GRP year,GRP,year
0,New South Wales,1GSYD,Greater Sydney,GRP 2015-16,405208.0,2015-16
1,New South Wales,1RNSW,Rest of NSW,GRP 2015-16,135408.0,2015-16
2,Victoria,2GMEL,Greater Melbourne,GRP 2015-16,322932.0,2015-16
3,Victoria,2RVIC,Rest of Vic.,GRP 2015-16,72206.0,2015-16
4,Queensland,3GBRI,Greater Brisbane,GRP 2015-16,158677.0,2015-16
...,...,...,...,...,...,...
85,Tasmania,6GHOB,Greater Hobart,GRP 2020-21,16705.0,2020-21
86,Tasmania,6RTAS,Rest of Tas.,GRP 2020-21,18573.0,2020-21
87,Northern Territory,7GDAR,Greater Darwin,GRP 2020-21,15124.0,2020-21
88,Northern Territory,7RNTE,Rest of NT,GRP 2020-21,10161.0,2020-21
89,Australian Capital Territory,8ACTE,Australian Capital Territory,GRP 2020-21,44602.0,2020-21

In [ ]:
grp.columns

Index(['state', 'GCCSA_code', 'GCCSA_name', 'GRP 2015-16 ', 'GRP 2016-17',
       'GRP 2017-18', 'GRP 2018-19', 'GRP 2019-20', 'GRP 2020-21',
       'Nominal GRP, Average annual change 2015-16 to 2020-21 (%)',
       'Real GRP, Average annual change 2015-16 to 2020-21 (%)(Real 21-22)'],
      dtype='object')